$color-primary: #579C87;
$color-txt: #FDCB46;
$font-primary: 'Montserrat', sans-serif;

/***********************************************************************
** Général *************************************************************
***********************************************************************/

body{
	margin: auto; 
    font-size: 1em;
}
.bloc_page{
	display: flex;
	flex-direction: column;
	text-align: center;	
}
a{
    text-decoration: none;
}
header{
	width: 100%;
    height: 100px;
    background-color: $color-primary;
    color:$color-txt;
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
}
header a{
    color: $color-txt;
}
footer{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    bottom: 0;
    background-color: $color-primary;
    a{
        display:flex;
        align-items: center;
        height: 60px;
        font-size: 2em;
        text-decoration: none;
        color:$color-txt;
        font-family: $font-primary;
        margin: auto 40px;  
    }
}

/***********************************************************************
** Général index *******************************************************
***********************************************************************/

nav{
    width: 78%;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    padding-bottom: 50px;
}
nav a{
    box-shadow: 0 0 20px 10px #EBEBEB;
    width: 300px;
    height: 456px;
    margin: 50px 50px 0 50px;
    text-decoration: none;
    font-family: $font-primary; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 456px;
    p{
        font-size: 2em;
    }
    h2{
        font-family: 'Caveat', cursive;
        font-size: 2em;
    }
}
.menu_cover{
    transform: scale(1);
    opacity: 1;
    transition: all 300ms;
    &:hover{
        transform: scale(1.3);
        opacity: 0.5;
    }
}

.link_soon{
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 20px;
    margin: 50px auto 190px auto;
    background-color: $color-primary;
    font-size: 2em;
    text-decoration: none;
    color:$color-txt;
    font-family: $font-primary;
    padding: 20px 60px;
    width: 300px;
}

/***********************************************************************
** index note + menu note **********************************************
***********************************************************************/
.note_menu{
    background-color: #FCDFDB;
}
.note_cover , .note{
    
    color: rgb(60, 18, 24);
    font-family: 'Caveat', cursive;
    p{
        font-weight: bold;
        font-size: 2em;
    }
    img{
        width: 70px;
        height: 60px;
    }
}
.note_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 50px;
    height: 55px;
}

/***********************************************************************
** index chic + menu chic **********************************************
***********************************************************************/
.menu_chic{
    background-color: #FFF5FE;
}
.chic_cover {
    
    p {
        background-image: linear-gradient(to right,rgb(198 116 18),rgb(110 76 204) );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Croissant One', cursive; 
        font-size: 1.5em;
    }
    h2{
        color: rgb(199, 116, 18);
        font-family: serif;
    }
}
.chic{
    background-color: #FFF5FE;
    h3{
        background-image: linear-gradient(to right,rgb(198 116 18),rgb(110 76 204) );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Croissant One', cursive; 
    }
}
.chic section{
    font-family: serif;
    font-size: 0.8em;
}
.chic table{
    width: 75%;
}
.chic{
    .starter{
    color:rgb(198 116 18) ;
    }
    .main_course{
    color: rgb(165 103 153);
    }
    .dessert{
    color: rgb(110 76 204);
    }  
}

/***********************************************************************
** index delice + menu delice ******************************************
***********************************************************************/
.menu_delice{
    background-color: #EDEFEF;
}
.delice_cover{
    
    p {
        background-image: linear-gradient(to right,rgb(2 40 221),rgb(34 157 249) );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Dancing Script', cursive;
    }
    h2{
        color: rgb(8 135 251);
    }
}
.delice{
    background-color: #EDEFEF;
    h3{
        background-image: linear-gradient(to right,rgb(2 40 221),rgb(34 157 249) );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Dancing Script', cursive; 
    }
}

/***********************************************************************
** index palette + menu palette ****************************************
***********************************************************************/
.menu_palette{
    background-color: #FDFFFD;
}
.palette_cover{
    
    p{
        background-image: linear-gradient(to right,rgb(76 99 106),rgb(191 255 126) );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Kaushan Script', cursive; 
    }
    h2{
        color:rgb(114 191 86);
    }
}
.palette {
    background-color: #FDFFFD;
    h3{
        background-image: linear-gradient(to right,rgb(76 99 106),rgb(191 255 126) );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Kaushan Script', cursive;
    }
}

/***********************************************************************
** Général menus *******************************************************
***********************************************************************/

main{
	width: 100%;
    margin: auto;
    .main_heading{
        padding-top: 50px;
        h2{
            font-size: 2.5em;
        }
    }
}

.menu{
    width: 800px;
    margin: 0 auto 200px auto;
    box-shadow: 0 0 20px 10px #EBEBEB;
    font-size: 1.5em;
    padding: 30px 0 150px 0;
    font-family: 'Caveat', cursive;
    .menu__heading{
        font-size: 1.5em;
    }
}
section{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat', cursive;
    .section_heading{
        display: flex;
        margin: 30px auto 0 auto;
        width: 85%;
        padding: 0 10px 0 10px;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        img{
            font-size: 0.5em;
            width: 30%;
            height: 15px;
        }
        p{
            font-size: 1.3em;  
        }
    }
}

table{
    width: 85%;
    tr{
        display: flex;
        justify-content: space-between;
        th{
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: 10px;
            font-weight: 500;
            text-align: left;
        }
    }
}

/***********************************************************************
** Responsive smartphone ***********************************************
***********************************************************************/

@media screen and (max-width: 768px){
    body{
        font-size: 0.8em;
    }
    .bloc_page{
        justify-content: center;
    }
    header{
        font-size: 2em;
    }
    nav{
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    .link_soon{
        width: 170px;
    }
    .menu{
    width: 100%;
    }
    .section_heading p{
        font-size: 1em;
    }
    th{
        text-align: left;
    }
    footer{
        font-size: 0.7em;
    }
}