$color-primary: #579C87;
$color-txt: #FDCB46;
$font-primary: 'Montserrat', sans-serif;
body{
	margin: auto;
    
    font-size: 1em;
}
.bloc_page{
	display: flex;
	flex-direction: column;
	text-align: center;	
}
a{
    text-decoration: none;
}
header{
	width: 100%;
    height: 170px;
    background-color: $color-primary;
    color:$color-txt;
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
}
header a{
    color: $color-txt;
}
nav{
    width: 800px;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    padding-bottom: 50px;
    
}
nav a{
    box-shadow: 0 0 20px 10px #EBEBEB;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 300px;
	height: 456px;
    margin: 50px 50px 0 50px;
    text-decoration: none;
    font-family: $font-primary;  
}
.link_menu p{
    font-size: 2em;
}
.link_menu h2{
    font-family: 'Caveat', cursive;
}
.note_menu , .note{
    background-color: #FCDFDB;
    color: rgb(60, 18, 24);
    font-family: 'Caveat', cursive;
}
.note_menu p{
    font-weight: bold;
    font-size: 2em;
}
img{
    width: 70px;
    height: 60px;
}
.chic_menu , .chic{
    background-color: #FFF5FE;
}
.chic_menu p, .chic h3{
    background-image: linear-gradient(to right,rgb(198 116 18),rgb(110 76 204) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Croissant One', cursive;
}
.chic_menu p{
    font-size: 1.5em;
}
.chic_menu h2{
    color: rgb(199, 116, 18);
    font-family: serif;
}
.delice_menu , .delice ,.delice h3{
    background-color: #EDEFEF;
    font-family: 'Dancing Script', cursive;
}
.delice_menu p, .delice_menu h3 , .delice h3{
    background-image: linear-gradient(to right,rgb(2 40 221),rgb(34 157 249) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.delice_menu h2{
    color: rgb(8 135 251);
}
.palette_menu , .palette{
    background-color: #FDFFFD;
}
.palette_menu p , .palette h3{
    background-image: linear-gradient(to right,rgb(76 99 106),rgb(191 255 126) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Kaushan Script', cursive;
}
.palette_menu h2{
    color:rgb(114 191 86);
}
.palette_menu th{
    font-size: 0.9em;
}
.link_soon{
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 20px;
    margin: 50px auto 190px auto;
    background-color: $color-primary;
    font-size: 2em;
    text-decoration: none;
    color:$color-txt;
    font-family: $font-primary;
    padding: 20px 60px
}
footer{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    bottom: 0;
    background-color: $color-primary;
}
footer a {
    display:flex;
    align-items: center;
	height: 60px;
    font-size: 2em;
    text-decoration: none;
    color:$color-txt;
    font-family: $font-primary;
    margin: auto 40px;
}
main{
	width: auto;;
	margin: auto;
}
section{
	
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat', cursive;

}
.chic section{
    font-family: serif;
    font-size: 0.8em;
}
.main_heading{
    padding-top: 50px;
}
h2{
    font-family: $font-primary;
    font-size: 2.5em;
}
.menu_container{
    margin: 0 auto 200px auto;
    box-shadow: 0 0 20px 10px #EBEBEB;
    font-size: 1.5em;
    padding: 30px 0 150px 0;
}
.menu_container__heading{
    font-size: 1.5em;
}
.section_heading{
    display: flex;
    margin: 30px auto 0 auto;
    width: 85%;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.section_heading img{
    font-size: 0.5em;
    width: 30%;
    height: 15px;
}
.section_heading p{
    font-size: 1.3em;
    font-weight: 500;
}
table{
    width: 85%;
}
.chic table{
    width: 75%;
}
tr{
	display: flex;
	justify-content: space-between;
}
th{
	display: flex;
	flex-direction: column;
    align-content: center;
    margin: 10px;
    font-weight: 500;

}
.top_chic , .top_chic p{
    color:rgb(198 116 18) ;

}
.middle_chic , .middle_chic p{
    color: rgb(165 103 153);
}
.bottom_chic, .bottom_chic p{
    color: rgb(110 76 204);
}

.menu_container__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 50px;
    height: 55px;
}
@media screen and (max-width: 768px){
    body{
        font-size: 0.8em;
    }
    .bloc_page{
        justify-content: center;
    }
    header{
        font-size: 2em;
        height: 100px;
    }
    nav{
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    nav a {
        width: 90%;
    }
    .menu_container{
    width: 100%;
    }
    th{
        text-align: left;
    }
    footer{
        font-size: 0.7em;
    }
}