@charset "UTF-8";
/***********************************************************************
** Général *************************************************************
***********************************************************************/
body {
  margin: auto;
  font-size: 1em;
}

.bloc_page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: #579C87;
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3em;
  letter-spacing: -3px;
}

header a {
  color: #FDCB46;
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #579C87;
}
footer a {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 2em;
  text-decoration: none;
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -3px;
  margin: auto 40px;
}

/***********************************************************************
** Général index *******************************************************
***********************************************************************/
nav {
  width: 78%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

nav a {
  box-shadow: 0 0 20px 10px #EBEBEB;
  width: 300px;
  height: 456px;
  margin: 50px 50px 0 50px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 456px;
}
.menu_cover p {
  font-size: 2em;
}
.menu_cover h2 {
  font-family: "Caveat", cursive;
  font-size: 2em;
}

.menu_cover {
  transform: scale(1);
  opacity: 1;
  transition: all 300ms;
}
.menu_cover:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

.link_soon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 50px auto 190px auto;
  background-color: #579C87;
  font-size: 2em;
  text-decoration: none;
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  padding: 20px 60px;
  width: 300px;
}

/***********************************************************************
** index note + menu note **********************************************
***********************************************************************/
.note_menu {
  background-color: #FCDFDB;
}

.note_cover, .note {
  color: #3c1218;
  font-family: "Caveat", cursive;
}
.note_cover p, .note p {
  font-weight: bold;
  font-size: 2em;
}
.note_cover img, .note img {
  width: 70px;
  height: 60px;
}

.note_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-top: 50px;
  height: 55px;
}

.note {
  background-color: #FCDFDB;
}

/***********************************************************************
** index chic + menu chic **********************************************
***********************************************************************/
.menu_chic {
  background-color: #FFF5FE;
}

.chic_cover p {
  background-image: linear-gradient(to right, #c67412, #6e4ccc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Croissant One", cursive;
  font-size: 1.5em;
}
.chic_cover h2 {
  color: #c77412;
  font-family: serif;
}

.chic {
  background-color: #FFF5FE;
}
.chic h3 {
  background-image: linear-gradient(to right, #c67412, #6e4ccc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Croissant One", cursive;
}

.chic section {
  font-family: serif;
  font-size: 0.8em;
}

.chic table {
  width: 75%;
}

.chic .starter {
  color: #c67412;
}
.chic .main_course {
  color: #a56799;
}
.chic .dessert {
  color: #6e4ccc;
}

/***********************************************************************
** index delice + menu delice ******************************************
***********************************************************************/
.menu_delice {
  background-color: #EDEFEF;
}

.delice_cover p {
  background-image: linear-gradient(to right, #0228dd, #229df9);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Dancing Script", cursive;
}
.delice_cover h2 {
  color: #0887fb;
}

.delice {
  background-color: #EDEFEF;
}
.delice h3 {
  background-image: linear-gradient(to right, #0228dd, #229df9);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Dancing Script", cursive;
}

/***********************************************************************
** index palette + menu palette ****************************************
***********************************************************************/
.menu_palette {
  background-color: #FDFFFD;
}

.palette_cover p {
  background-image: linear-gradient(to right, #4c636a, #bfff7e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Kaushan Script", cursive;
}
.palette_cover h2 {
  color: #72bf56;
}

.palette {
  background-color: #FDFFFD;
}
.palette h3 {
  background-image: linear-gradient(to right, #4c636a, #bfff7e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Kaushan Script", cursive;
}

/***********************************************************************
** Général menus *******************************************************
***********************************************************************/
main {
  width: 100%;
  margin: auto;
}
main .main_heading {
  padding-top: 50px;
}
main .main_heading h2 {
  font-size: 2.5em;
}

.menu {
  width: 800px;
  margin: 0 auto 200px auto;
  box-shadow: 0 0 20px 10px #EBEBEB;
  font-size: 1.5em;
  padding: 30px 0 150px 0;
  font-family: "Caveat", cursive;
}
.menu .menu__heading {
  font-size: 1.5em;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Caveat", cursive;
}
section .section_heading {
  display: flex;
  margin: 30px auto 0 auto;
  width: 85%;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
section .section_heading img {
  font-size: 0.5em;
  width: 30%;
  height: 15px;
}
section .section_heading p {
  font-size: 1.3em;
}

table {
  width: 85%;
}
table tr {
  display: flex;
  justify-content: space-between;
}
table tr th {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
  font-weight: 500;
  text-align: left;
}

/***********************************************************************
** Mentions légales ***********************************************
***********************************************************************/
.txt {
  width: 85%;
  border: 1px solid black;
}
/***********************************************************************
** Responsive smartphone ***********************************************
***********************************************************************/
@media screen and (max-width: 768px) {
  body {
    font-size: 0.8em;
  }

  .bloc_page {
    justify-content: center;
  }

  header {
    font-size: 2em;
  }

  nav {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .link_soon {
    width: 170px;
  }

  .menu {
    width: 100%;
  }

  .section_heading p {
    font-size: 1em;
  }

  th {
    text-align: left;
  }

  footer {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=styles.css.map */
